/* styles.css */
.form-wrapper{
  display: flex;
  justify-content: center;
    align-items: center;
}
.login-form {
  width: 400px;
    padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #ddd
}

.login-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-button {
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #ff651E;
}