.header {
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
}

a{
  text-decoration: none;
  color: white;
}
.header__menu a{
  margin: 0 20px;
  padding: 15px;
}
.header__menu a:hover {
  background-color: orangered;
}
.header__menu .active{
  background-color: orangered;
}
.authentication a:first-child{
  margin-right: 20px;
}
.main {
  padding: 0 40px;
  margin: 40px 0;
  min-height: 79vh;
}

.footer {
  background-color: orange;
  padding: 10px;
  text-align: center;
}

