.description{
  margin: 20px 0;
}
.description span{
  font-weight: 700;
}
.result__list{
  border: 1px solid #ddd;
  padding:  20px 40px;
}
.title__question span{
  margin-left:20px ;
}
.result-correct{
  background-color: green;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  padding: 2px 5px;
  align-items: center;
}
.result-incorrect {
  background-color: red;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  padding: 2px 5px;
  align-items: center;
}
.correct{
  color: green;
}
.incorrect{
  color: red;
}